<% title('Rules page') %>
<h1>Players#rules</h1>
<p>Find me in app/views/players/rules.html.erb</p>
<% content_for(:test) do %>
  <ul>
    <li> Hello </li>
    <li> How </li>
    <li> Are </li>
    <li> YOU? </li>
  </ul>
<% end %>



<% content_for(:test) {"<h1> Hello </h1>"} %>